<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Permit Details</title>
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body class="main-page-background main-page-centering">
<div class="form-container" style="width:80%;height:80vh;">
    <div class="additional-info-grid">
        <div class="permit-info">
            <h1>Permit #<span th:text="${permit.permit_number()}"></span></h1>
            <h2 th:text="${permit.property_owner_name}"></h2>
            <h2 th:text="${permit.permit_address()}"></h2>
            <h3>Application Type: <span th:text="${permit.application_type()}">Building Permit</span></h3>
            <p>Permit Worktype: <span th:text="${permit.worktype()}">Alteration</span></p>
            <p>Permit Status: <span th:text="${permit.application_status()}">Closed</span></p>
        </div>
        <iframe
                width="450"
                height="250"
                frameborder="0" style="border:0"
                referrerpolicy="origin"
                th:attr="src='https://www.google.com/maps/embed/v1/MAP_MODE?key=AIzaSyAgCBSIoqZPe72YxIc_Moezmtt6KxBuTu0&q=' + ${googleMapAddress}"
                allowfullscreen>
        </iframe>
    </div>
</div>
</body>
</html>